<!DOCTYPE html>
<html>
<body>
<h2>Upload CSV Files</h2>

<form action="/upload" method="post" enctype="multipart/form-data">
  <label for="variables">Variables (separated by commas):</label>
<input id="variables" name="variables" type="text" value="Headache,Cancer">

  Select output CSV to upload:
  <input type="file" name="output_csv" accept=".csv">
  <br>
  Select ground truth CSV/XLSX to upload:
  <input type="file" name="groundtruth_csv" accept=".csv,.xlsx">
  <br>
  <input type="submit" value="Upload and Analyze" name="submit">
</form>
</body>
</html>